#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
  text-align: left;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
