#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
  text-align: left;
}

.name-group {
  display: flex;
  gap: 10px;
}

.label-input-group {
  width: 180px;
}
.radio-group {
  display: flex;
  gap: 10px;
}

textarea#about-me {
  width: 100%;
  min-height: 100px;
  padding: 0;
  resize: none;
}