@font-face {
    font-family: 'Poppins-Bold';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('assets/fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
.task-lists {
    display: flex;
    gap: 2rem;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 24px;
}

.task-list-bar {
    display: flex;
    /* background-color: rgb(38, 215, 156); */
    border-radius: 24px;
    align-items: center;
    padding: 0.4rem;
}

.task-count {
    background-color: white;
    width: 1.1rem;
    height: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.task-status {
    color: white;
    padding-left: 0.5rem;
}

.task {
    flex-direction: column;
    width: fit-content;
    border: 1px solid #E2E8F0;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
}

.task-controls {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f7ff;
        padding-bottom: 0.5rem;
    }
    
    .task-checkbox {
        width: fit-content;
        margin-right: 0.8rem;
        cursor: pointer;
    }
    
    /* remove all built-in styles of task inputs except checkboxes */
    .task input[type='datetime-local'] {
        all: unset;
        border-left: 1px solid #E2E8F0;
        padding-left: 0.5rem;
        cursor: pointer;
}

.task-delete-button {
    width: fit-content;
}

.task-title {
    all: unset;
    font-family: 'Poppins-Bold';
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.3rem;
    resize: none;
    /* height: fit-content; */
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 1.5;
        min-height: calc(1.5rem + 1rem);
        box-sizing: border-box;
}

.task-content {
    /* all: unset; */
    font-family: 'Poppins-Regular';
    font-size: 1rem;
}
