@font-face {
    font-family: 'Poppins-Regular';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.task-lists {
    display: flex;
    gap: 2rem;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 24px;
}
